In [2]:
import pandas as pd

In [3]:
df_csv = pd.read_csv('jupyterTesting.csv')
df_csv

    Name            email  grades
0     CY     cy@gmail.com      60
1  Cindy  cindy@gmail.com      70
2   John     jj@gmail.com     100
3   Andy   andy@gmail.com      80

In [17]:
df_csv["Name"] = df_csv["Name"].apply(lambda x: x.upper())
df_csv

# 組合技巧: 用isin()filter特定value，再用groupby()
df_csv['grades'].isin([60, 70, 80]) # 這一步回傳值: True,True,False,True
df_csv[df_csv['grades'].isin([60, 70, 80])] # 等同於 df_csv[True,True,False,True]
# # df = (df[df['性別'].isin([1, 2])]
# #       .groupby(['區序', '性別'])[['死亡人數', '受傷人數']]
# #       .sum()
# #       .reset_index()
# #       .sort_values('受傷人數'))
# # print(df)
# df['性別'] = df['性別'].apply(lambda x: '男性' if x == 1 else '女性')
# df = df.reset_index().drop('index', axis=1)
# # df
# # # 顯示結果
# display(df_raw.head())
# display(df.head())

    Name            email  grades
0     CY     cy@gmail.com      60
1  CINDY  cindy@gmail.com      70
3   ANDY   andy@gmail.com      80