In [37]:
import pandas as pd

In [38]:
df_csv = pd.read_csv('Taipei108Traffic.csv', encoding='big5')
df_csv.columns

Index(['發生年度', '發生月', '發生日', '發生時-Hours', '發生分', '處理別-編號', '區序', '肇事地點',
       '死亡人數', '受傷人數', '當事人序號', '車種', '性別', '年齡', '受傷程度', '天候', '速限-速度限制',
       '道路型態', '事故位置', '座標-X', '座標-Y'],
      dtype='object')

In [39]:
df_csv.head(2)

,發生年度,發生月,發生日,發生時-Hours,發生分,處理別-編號,區序,肇事地點,死亡人數,受傷人數,...,車種,性別,年齡,受傷程度,天候,速限-速度限制,道路型態,事故位置,座標-X,座標-Y
0,108,1,1,0,50,2,12內湖區,內湖區安康路414巷2號,0,2,...,B03,1,31,3.0,6,50,13,9,121.614618,25.066187
1,108,1,1,0,50,2,12內湖區,內湖區安康路414巷2號,0,2,...,C03,2,19,2.0,6,50,13,9,121.614618,25.066187

In [40]:
# df_csv["Name"] = df_csv["Name"].apply(lambda x: x.upper())
df_csv["發生年度"] = df_csv["發生年度"].apply(lambda x: x+100)

In [41]:
# 組合技巧: 用isin()filter特定value，再用groupby()
df_csv['性別'].isin([1, 2]) # 這一步回傳值: True,True,False,True
df_csv[df_csv['性別'].isin([1,2])] # 等同於 df_csv[True,True,False,True]
# # df = (df[df['性別'].isin([1, 2])]
# #       .groupby(['區序', '性別'])[['死亡人數', '受傷人數']]
# #       .sum()
# #       .reset_index()
# #       .sort_values('受傷人數'))
# # print(df)
# df['性別'] = df['性別'].apply(lambda x: '男性' if x == 1 else '女性')
# df = df.reset_index().drop('index', axis=1)
# # df
# # # 顯示結果
# display(df_raw.head())
# display(df.head())

,發生年度,發生月,發生日,發生時-Hours,發生分,處理別-編號,區序,肇事地點,死亡人數,受傷人數,...,車種,性別,年齡,受傷程度,天候,速限-速度限制,道路型態,事故位置,座標-X,座標-Y
0,208,1,1,0,50,2,12內湖區,內湖區安康路414巷2號,0,2,...,B03,1,31,3.0,6,50,13,9,121.614618,25.066187
1,208,1,1,0,50,2,12內湖區,內湖區安康路414巷2號,0,2,...,C03,2,19,2.0,6,50,13,9,121.614618,25.066187
2,208,1,1,0,50,2,12內湖區,內湖區安康路414巷2號,0,2,...,H02,2,19,2.0,6,50,13,9,121.614618,25.066187
3,208,1,1,1,30,2,09北投區,北投區大度路1段與中央北路2段257巷口,0,1,...,C03,1,20,2.0,7,50,4,1,121.486064,25.122059
4,208,1,1,1,30,2,09北投區,北投區大度路1段與中央北路2段257巷口,0,1,...,C03,2,53,3.0,7,50,4,1,121.486064,25.122059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,208,1,1,23,21,2,01大同區,大同區鄭州路與西寧北路口,0,2,...,C03,2,34,2.0,6,40,4,1,121.508211,25.050614
144,208,1,2,1,10,2,11南港區,南港區興中路與南港路1段287巷2弄口,0,2,...,H01,1,66,2.0,6,0,3,1,121.607604,25.053956
145,208,1,2,1,10,2,11南港區,南港區興中路與南港路1段287巷2弄口,0,2,...,C03,2,51,2.0,6,0,3,1,121.607604,25.053956
146,208,1,2,1,16,2,07信義區,信義區忠孝東路5段與忠孝東路5段372巷口,0,1,...,C03,2,19,2.0,6,50,4,1,121.574124,25.040764
147,208,1,2,1,16,2,07信義區,信義區忠孝東路5段與忠孝東路5段372巷口,0,1,...,B01,1,46,3.0,6,50,4,1,121.574124,25.040764

In [44]:
df_tmp = df_csv[df_csv['性別'].isin([1, 2])].groupby(['區序', '性別'])[['死亡人數', '受傷人數']].sum()
# df_tmp = df_csv[df_csv['性別'].isin([1, 2])].groupby(['區序', '性別'])[['死亡人數', '受傷人數']].sum()
df_tmp

          死亡人數  受傷人數
區序    性別
01大同區 1      0    15
      2      0     6
02萬華區 1      0    11
      2      0     5
03中山區 1      0    14
      2      0     2
04大安區 1      0    12
      2      0     2
05中正區 1      0    14
      2      0    18
06松山區 1      0     2
      2      0     2
07信義區 1      0    16
      2      0     4
08士林區 1      0     7
      2      0     4
09北投區 1      1    14
      2      0    15
10文山區 1      0    16
      2      0    13
11南港區 1      0    11
      2      0     5
12內湖區 1      0     4
      2      0     6

In [45]:
# query
df = pd.DataFrame({'A': range(1,6),'B': range(10,0,-2),'A A': range(10,5,-1)})
df

   A   B  A A
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6

In [50]:
# 想要查詢 B value eq AA value:
df[df['B'] == df['A A']]

   A   B  A A
0  1  10   10

In [51]:
# 用query:
df.query('B == `A A`')

   A   B  A A
0  1  10   10

In [53]:
df.query('A<B | `A A` == 6')

   A   B  A A
0  1  10   10
1  2   8    9
2  3   6    8
4  5   2    6