In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Subject': ['Physics','Chemistry','Maths'], 'Marks': [4, 8, 5]})
df

     Subject  Marks
0    Physics      4
1  Chemistry      8
2      Maths      5

In [5]:
# group之後變成multiIndex
df_grouped = df.groupby(['Subject']).mean()
print(df_grouped.columns)
df_grouped

Index(['Marks'], dtype='object')

           Marks
Subject
Chemistry    8.0
Maths        5.0
Physics      4.0

In [6]:
# 
df_grouped.reset_index()

     Subject  Marks
0  Chemistry    8.0
1      Maths    5.0
2    Physics    4.0