In [4]:
import pandas as pd

In [22]:
# 用dict init，key = column name，對應的list of value就是data value
dic = {
    "col 1": [1, 2, 3], 
    "col 2": [10, 20, 30],
    "col 3": list('xyz'),
    "col 4": ['a', 'b', 'c'],
    "col 5": pd.Series(range(3))
}
df_dict = pd.DataFrame(dic)
df_dict

   col 1  col 2 col 3 col 4  col 5
0      1     10     x     a      0
1      2     20     y     b      1
2      3     30     z     c      2

In [23]:
# 讀取csv file
df_csv = pd.read_csv('jupyterTesting.csv')
df_csv

    Name            email  grades
0     CY     cy@gmail.com      60
1  Cindy  cindy@gmail.com      70
2   John     jj@gmail.com     100
3   Andy   andy@gmail.com      80

In [24]:
# 讀取xlsx file，需要pip package (pip3 install openpyxl)
df_xlsx = pd.read_excel('jupyterTesting.xlsx')
print(df_xlsx)
# 另一種讀取xlsx的方法
xl = pd.ExcelFile('jupyterTesting.xlsx')
print(xl.sheet_names)
print(xl)

    Name            email  grades
0     CY     cy@gmail.com      60
1  Cindy  cindy@gmail.com      70
2   John     jj@gmail.com     100
3   Andy   andy@gmail.com      80
['工作表1']
<pandas.io.excel._base.ExcelFile object at 0x12d863890>

In [25]:
# 讀進來之後可能可讀性很低，update一下column name
rename_dic = {"Name": "名字", "grades": "成績"}
df_xlsx.rename(rename_dic, axis=1)
df_xlsx

    Name            email  grades
0     CY     cy@gmail.com      60
1  Cindy  cindy@gmail.com      70
2   John     jj@gmail.com     100
3   Andy   andy@gmail.com      80