In [1]:
import pandas as pd

In [5]:
# pd.merge(left , right ,on ,left_on ,right_on , how)
# left和 right分別為兩個要合併的 dataframe
# on = [] 會把兩個合併起來，這邊要填入指定的 column name，如果沒有指定就會自動搜尋，
# left_on = [] 把right合併到 left，填入指定的 column name
# right_on = [] 把left合併到 right，填入指定的 column name
# how = ["inner"|"outter"|"left"|"right"] 合併的方式，default = "inner"
left=pd.DataFrame({"key":['K0','K1','K2','K3'],"A":['A0','A1','A2','A3'],"B":['B0','B1','B2','B3']})
#   key   A   B
# 0  K0  A0  B0
# 1  K1  A1  B1
# 2  K2  A2  B2
# 3  K3  A3  B3
right=pd.DataFrame({"key":['K0','K1','K4','K5'],"C":['C0','C1','C4','C5'],"D":['D0','D1','D4','D5']})
#   key   C   D
# 0  K0  C0  D0
# 1  K1  C1  D1
# 2  K4  C4  D4
# 3  K5  C5  D5

In [8]:
# on 沒有填，自動搜尋共同 column = "key"
# inner會找交集 (兩邊都有的相同值)，這邊找到 key = "K0", "K1"，把兩邊各自的entity拉出來merge
inner_join=pd.merge(left=left,right=right,how="inner")
inner_join

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [9]:
# on 沒有填，自動搜尋共同 column = "key"
# outter會找聯集 (兩邊有出現的值)，這邊找到 key = "K0", "K1", "K2", "K3", "K4", "K5"，把兩邊各自的entity拉出來merge
outer_join=pd.merge(left=left,right=right,how="outer")  
outer_join

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2  NaN  NaN
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C4   D4
5  K5  NaN  NaN   C5   D5

In [11]:
# on 沒有填，自動搜尋共同 column = "key"
# left會找左邊有出現的值，這邊找到 key = "K0", "K1", "K2", "K3"，把兩邊各自的entity拉出來merge
# 由於 "K2", "K3"沒有對應的值，自動填入NaN
left_join=pd.merge(left=left,right=right,how="left")
left_join

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2  NaN  NaN
3  K3  A3  B3  NaN  NaN

In [12]:
# on 沒有填，自動搜尋共同 column = "key"
# right會找右邊有出現的值，這邊找到 key = "K0", "K1", "K4", "K5"，把兩邊各自的entity拉出來merge
# 由於 "K4", "K5"沒有對應的值，自動填入NaN
right_join=pd.merge(left=left,right=right,how="right")
right_join

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K4  NaN  NaN  C4  D4
3  K5  NaN  NaN  C5  D5

In [56]:
logs = pd.DataFrame({"id": [4,5,6,1,3,7,2], "nums": [2,1,2,1,1,2,1]})
logs

   id  nums
0   4     2
1   5     1
2   6     2
3   1     1
4   3     1
5   7     2
6   2     1

In [57]:
logs = logs.sort_values("id")
logs

   id  nums
3   1     1
6   2     1
4   3     1
0   4     2
1   5     1
2   6     2
5   7     2

In [58]:
logs['nums'][0]

2

In [64]:
logs['nums'][1]

1

In [65]:
logs['nums'][2]

2

In [66]:
logs['nums'].iloc[0]

1

In [67]:
logs['nums'].iloc[1]

1

In [68]:
logs['nums'].iloc[2]

1

In [69]:
logs['nums'].iloc[3]

2

In [70]:
logs = pd.DataFrame({"id": [4,5,6,1,3,7,2], "nums": [2,1,2,1,1,2,1]})
logs = logs.sort_values("id").reset_index(drop=True)
logs

   id  nums
0   1     1
1   2     1
2   3     1
3   4     2
4   5     1
5   6     2
6   7     2

In [71]:
logs['nums'][0]

1

In [72]:
logs['nums'][1]

1

In [73]:
logs['nums'][2]

1

In [74]:
logs['nums'].iloc[0]

1

In [75]:
logs['nums'].iloc[1]

1

In [76]:
logs['nums'].iloc[2]

1

In [92]:
import np
nums = pd.DataFrame(np.random.randint(0,100,size=(3, 5))) # 生成50行3列的dataframe
nums

    0   1   2   3   4
0   7  23  76  35  73
1   9  54  50   0  12
2  52   6  74   7  43

In [93]:
nums.mean(axis=0)

0    22.666667
1    27.666667
2    66.666667
3    14.000000
4    42.666667
dtype: float64

In [94]:
nums.mean(axis=1)

0    42.8
1    25.0
2    36.4
dtype: float64